{{#> page_wrapper }}
<h2>Listado de cursos</h2>

<h4>Agregar Curso</h4>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="id" type="text" class="validate" required>
        <label for="id">Id</label>
      </div>
      <div class="input-field col s6">
        <input id="name" type="text" class="validate" required>
        <label for="name">Nombre del curso</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="modality" type="text" class="validate" required>
        <label for="modality">Modalidad</label>
      </div>
      <div class="input-field col s6">
        <input id="intensity" type="text" class="validate" required>
        <label for="intensity">Intensidad horaria</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="price" type="text" class="validate" required>
        <label for="price">Valor</label>
      </div>
      <div class="input-field col s6">
        <input id="description" type="text" class="validate materialize-textarea" required>
        <label for="description">Descripción</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" id="submitCourseRegistration">Enviar
      <i class="material-icons right">send</i>
    </button>
  </form>

</div>

<hr>

<h4>Cursos</h4>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Modalidad</th>
      <th>Intensidad horaria</th>
      <th>Valor</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.mode}}</td>
        <td>{{this.intensity}} hr</td>
        <td>${{this.price}}</td>
        <td>{{this.description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{/ page_wrapper }}