{{#> page_wrapper }}
<h2>Listado de cursos</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Modalidad</th>
      <th>Intensidad horaria</th>
      <th>Valor</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.mode}}</td>
        <td>{{this.intensity}} hr</td>
        <td>${{this.price}}</td>
        <td>{{this.description}}</td>
        <td>
          {{#if ../isAdmin}}
            <a class="waves-effect waves-light btn-flat tooltipped" data-position="top" data-tooltip="Ver aspirantes matriculados" href="/courses/{{this.id}}/enrolled"><i class="material-icons left">people</i></a>
          {{else}}
            <a class="waves-effect waves-light btn-flat tooltipped" data-position="top" data-tooltip="Matricularme en este curso" href="/courses"><i class="material-icons left">edit</i></a>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped')
    var instances = M.Tooltip.init(elems)
  })
</script>

{{/ page_wrapper }}