{{#> page_wrapper }}
{{#if isAdmin}}
<h2>Listado de cursos</h2>

<ul class="collapsible popout">
  {{#each courses}}
    <li>
      <div class="collapsible-header"><i class="material-icons">event_available</i>
        <p class="waves-effect btn secondary-content">{{this.name}}</p>
        <div class="course__description">{{this.description}}</div>
        <span class="badge">con precio: ${{this.price}}</span><a class="waves-effect waves-light btn-small btn-floating grey tooltipped" data-position="top" data-tooltip="Ver aspirantes matriculados" href="/courses/{{this.id}}/enrolled"><i class="material-icons">people</i></a>
      </div>
      <div class="collapsible-body">
        <p> <b>Nombre Curso: </b> <span>{{this.name}}.</span></p><br>
        {{#if this.mode}}<p> <b>Modalidad del curso: </b> <span>{{this.mode}}</span></p><br>{{/if}}
        {{#if this.intensity}}<p> <b>Intensidad horararia del curso: </b> <span>{{this.intensity}} horas</span></p><br>{{/if}}
        <p> <b>Precio: </b> <span>$ {{this.price}}.</span></p><br>
        <p> <b>Descripción: </b> <span>{{this.description}}.</span></p><br>
        <p> <b>Estado: </b> <span>{{this.state}}.</span></p><br>
      </div>
    </li>
  {{/each}}
</ul>

<h4>Actualizar el estado de los cursos</h4>
<form>
  <div class="row">
    <div class="input-field col s6">
      <select id="course" required>
        {{#each courses}}
          <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
      <label for="course">Curso</label>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select id="state" required>
          <option value="Disponible">Disponible</option>
          <option value="Cerrado">Cerrado</option>
        </select>
        <label for="state">Estado</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit" id="submitCourseActualization">Actualizar
        <i class="material-icons right">send</i>
      </button>
</form>
{{else}}
<h2>Cursos disponibles</h2>

<ul class="collapsible popout">
  {{#each courses}}
    {{#ifEquals this.state "Disponible"}}
      <li>
        <div class="collapsible-header"><i class="material-icons">event_available</i>
          <p class="waves-effect btn secondary-content">{{this.name}}</p>
          <div class="course__description">{{this.description}}</div>
          <span class="badge">con precio: ${{this.price}}</span>
          <a class="waves-effect waves-light btn-flat tooltipped" data-position="top" data-tooltip="Matricularme en este curso" href="/courses"><i class="material-icons">edit</i></a>
        </div>
        <div class="collapsible-body">
          <p> <b>Nombre Curso: </b> <span>{{this.name}}.</span></p><br>
          {{#if this.mode}}<p> <b>Modalidad del curso: </b> <span>{{this.mode}}</span></p><br>{{/if}}
          {{#if this.intensity}}<p> <b>Intensidad horararia del curso: </b> <span>{{this.intensity}} horas</span></p><br>{{/if}}
          <p> <b>Precio: </b> <span>$ {{this.price}}.</span></p><br>
          <p> <b>Descripción: </b> <span>{{this.description}}.</span></p><br>
          <p> <b>Estado: </b> <span>{{this.state}}.</span></p><br>
        </div>
      </li>
    {{/ifEquals}}
  {{/each}}
</ul>
{{/if}}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped')
    var instances = M.Tooltip.init(elems)
  })
</script>
{{/ page_wrapper }}
