{{#> page_wrapper }}
<h2>Listado de cursos</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Modalidad</th>
      <th>Intensidad horaria</th>
      <th>Valor</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.mode}}</td>
        <td>{{this.intensity}} hr</td>
        <td>${{this.price}}</td>
        <td>{{this.description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{/ page_wrapper }}